#aboutUs {
  display: flex;
  height: 780px;
  width: 100vw;
  justify-content: space-between;
  background: $third-section-color;

  .peopleImg {
    height: 780px;
    position: absolute;
    top: 1784px;
    left: 800px;
    background: padding-box;

  }
  .aboutUsInformation {
    margin-top: 115px;
    width: 570px;
    margin-left: 110px;

    h3 {
      font-size: 34px;
      color: $font-color;
    }

    .accentImg {
      width: 250px;
      margin: 26px 0 55px;
    }

    p {
      font-size: 26px;
      letter-spacing: -0.6px;
      line-height: 54px;
      color: $font-color;
    }

    .signature {
      margin: 30px 0 0 350px;
    }
  }
}