.nav {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  height: 95px;
  margin-top: 37px;
  float: right;

  .loginMenu {
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
     li {
       padding: 9px 10px;
       font-size: 13px;
       color: $secondary-color;
      }

      li:hover {
        border: 0.75px solid $primary-accent-color;
        cursor: pointer;
        padding: 8px 9px;
      }

  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    margin-right: 90px;
    .menuLink {
      padding: 9px 20px;
      font-size: 18px;
      color: $font-color;
    }
    .menuLink:hover {
      border: 0.75px solid $font-color;
      padding: 8px 19px;
      cursor: pointer;
    }
  }
}