@import "generic/reset";

@import "settings/fonts";
@import "settings/colors";

body {
  font-family: $font-sans;
  max-width: 100%;
  overflow-x: hidden;
}

@import "elements/nav";
@import "elements/main/header";
@import "elements/main/about-us";
@import "elements/main/columns";
@import "elements/main/form";
@import "elements/main/information";
@import "elements/main/steps";

@import "elements/login";
@import "elements/logout";
@import "elements/register";

.Login {
  background-color: red;
  width: 100px;
  height: 100px;
}
.Register {
  background-color: green;
  width: 100px;
  height: 100px;
}

#information {
  height: 700px;
  width: 100%;
  background-color: blue;
}

#form {
  height: 700px;
  width: 100%;
  background-color: #FAD648;
}
